%html
	%head 
		%title User
	%body
		%h3 User
		%P 
			Hello
			= @experience.name 
		%p 
			Your name is 
			= @experience.name
		%p 
			Your email is
			= @experience.mail
		%p 
			Your phone is
			= @experience.phone
		%p
			Your unit is
			= @experience.company
		%p
			Your mobile_phone
			= @experience.mobile
		%p
			Your leave_message
			= @experience.msg