%html
	%head 
		%title User
	%body
		%h3 User
		%P 
			Hello
			= @user.name 
		%p 
			Your name is 
			= @user.name
		%p 
			Your email is
			= @user.email
		%p 
			Your phone is
			= @user.phone
		%p
			Your unit is
			= @user.unit
		%p
			Your mobile_phone
			= @user.mobile_phone
		%p
			Your leave_message
			= @user.leave_message_string