%section.mainBanner
  .container
    %img{:src=>"/assets/experience/experiencebanner.jpg"}
#mainForm.container.row
  .span10.offset1
    %header
      %h1
        %img{:src=>"/assets/experience/icon_pencil.png"}
        试用申请
        %small
          （请填写您的真实信息以便我们尽快能和您取得联系）
    = form_tag({:action => 'post_experience'}, :id=>'experience_form', :name=>'experience_form', :class=>'form-horizontal') do
      .control-group
        = label_tag "inputName", "请留下您的姓名：", :class=>'control-label'          
        .controls
          = text_field :experience, :name, :class=>'require', :id=>'inputName'
          %span.help-inline
            如果您想申请使用天网舆情系统 ，标注
            %img{:src=>"/assets/experience/greenDot.png"}
            的栏目请务必正确填写。
      .control-group
        = label_tag "inputMail", "您的电子邮件：", :class=>'control-label'           
        .controls
          = text_field :experience, :mail, :class=>'require', :id=>'inputMail'
      .control-group
        = label_tag "inputQQ", "QQ：", :class=>'control-label'
        .controls
          = text_field :experience, :qq, :id=>'QQ：', :maxlength=>'20'
      .control-group
        = label_tag "inputCompany", "单位名称：", :class=>'control-label'
        .controls
          = text_field :experience, :company, :class=>'require', :id=>'inputCompany'
      .control-group
        = label_tag "inputMobile", "您的手机号码：", :class=>'control-label'
        .controls
          = text_field :experience, :mobile, :class=>'require', :id=>'inputMobile'
      .control-group
        = label_tag "inputPhone", "座机（留下区号）：", :class=>'control-label'          
        .controls
          = text_field :experience, :phone, :id=>'inputPhone'
      .control-group
        = label_tag "experience_msg", "留言信息：", :class=>'control-label'
        .controls
          = text_area_tag 'experience[msg]'
          %span#msg.help-inline
            您提交正确资料后，我们将在第一时间和你取得联系，客服将会帮助您开通系统提供试用。
            %br
            %small
              您可以指定一个关键词进行舆情体验。
      .form-actions
        =button_tag "重置内容", :type=>"reset", :id=>'resetBtn'          
        =submit_tag "提交资料", :id=>"submitBtn"
= javascript_include_tag "frontexperience"
