#weiboTable
  %ul.tab-items
    %li
      %a{:href => "#table0", onFocus: "this.blur()"} 微博舆情
    %li
      %a{:href => "#table1", onFocus: "this.blur()"} 负面微博
    %li
      %a{:href => "#table2", onFocus: "this.blur()"} 最热传播
    %li
      %a{:href => "#table3", onFocus: "this.blur()"} 最热评论
  .tab-content
    - [0,1,2,3].each do |i|
      .tab-pane{ id: "table#{i}" }
        %table
          %thead
            %td
            %th.darkGreyThBg{:scope => "col"} 内容
            %th.weiboMediaType{:scope => "col"} 媒体
            %th.weiboTimeTH{:scope => "col"} 时间
            %td
          %tbody
            - @weiboTable[i].each_with_index do |weibo,index|
              %tr{ class: index%2 == 0 ? "" : "evenRow" }
                %th
                  %span.weiboIcon16.spritebg= index
                %td.weiboTableContent
                  = link_to weibo["text"], weibo["url"], target: '_blank'
                %td.weiboMediaType= weibo["media"]
                %td.weiboTimeTd= weibo["published_at"]
                %td
                  %a.closeLastestBtn{ :href => "" }
                    %svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16")
                      %path(fill-rule="evenodd" clip-rule="evenodd" fill="#999999" d="M10.769,4.115L8.013,6.871L5.24,4.098L4.134,5.203l2.773,2.773L4.134,10.75l1.105,1.106l2.773-2.773l2.756,2.756l1.105-1.106L9.119,7.977l2.756-2.756L10.769,4.115z M13.318,2.683c-2.937-2.937-7.698-2.937-10.635,0c-2.938,2.937-2.937,7.698,0,10.635c2.937,2.938,7.697,2.937,10.634,0C16.253,10.38,16.254,5.619,13.318,2.683z M12.044,12.005c-2.224,2.225-5.829,2.225-8.053,0.001s-2.224-5.83,0-8.053C6.216,1.729,9.81,1.74,12.035,3.964C14.258,6.188,14.268,9.782,12.044,12.005z")